.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Alata", serif;
    margin-left: 12vw;
}


.tittle {
    color: peru;
    font-size: 30px;
    font-family: "Sigmar", serif;

}

.guess {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 30px;
    max-width: 50%;
    width: 700px;
    margin-bottom: 20px;
    color: black;


    & span {
        font-weight: 100;
    }
}

& input {
    border: 1px solid black;
    border-radius: 8px;
    height: 4vh;
    width: 40vw;
    outline: none;
    background-color: gainsboro;
    color: black;

}

/*.baixo {*/
/*    !*margin-top: 50vh;*!*/
/*    padding: 10vw;*/
/*   background-color: red;*/
/*}*/


