.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Big Shoulders", sans-serif;
  margin-left: 18vw;
  width: 88%;
  height: 100%;
}

.guess {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
  border-radius: 30px;
  max-width: 50%;
  width: 700px;

  color: black;

  h1{
    font-size: 65px;
  }

  & span {
    font-weight: 100;
  }
}

& input {
  border: 1px solid black;
  border-radius: 8px;
  height: 5vh;
  width: 37vw;
  outline: none;
  background-color: white;
  color: black;
}

