.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Big Shoulders", sans-serif;
  margin-left: 18vw;
  width: 80%;
  height: 100%;
  position: relative;
}

.guess {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
  border-radius: 30px;
  max-width: 50%;
  width: 700px;

  color: black;

  h1{
    font-size: 65px;
  }

  & span {
    font-weight: 100;
  }
}

& input {
  border: 1px solid black;
  border-radius: 8px;
  height: 6vh;
  width: 37vw;
  outline: none;
  background-color: white;
  color: black;
}

.sugestion{
  background-color: white;
  font-family: "Big Shoulders", sans-serif;
  margin-top: -3vw;
  width: 37.27vw;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  z-index: 2;
  top: 48vh;

  ul{
    list-style-type: none;
    margin-left: -2vw;
    font-size: 20px;
    cursor: pointer;
  }
}

.chute-list{
  position: absolute;
  z-index: 1;
  top: 48vh;
}
