.list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #F99E1A;
    margin: 0.9vw;
    padding: 1vw;
    width: 60vw;
    height: 10vh;
    border-radius: 5px;
    border: 3px solid black;

    .name{
        align-content: center;
        text-align: center;
        font-size: 25px;
        width: 140px;
        height: 50px;
    }

    .pic {
        padding: 10px;
    }

    .name,.pic {
        margin: 0.2vw;
        border-radius: 4px;
        background-color: black;
    }

}