* {

}

body {
    /*
        background: radial-gradient(circle, rgba(255, 235, 203, 1) 0%, rgba(255, 113, 0, 1) 100%) no-repeat fixed;*/
    background-color: #FFC168;
    background-size: 100% 100%;
}

