.title {
  color: #FFCB7F;
  font-size: 35px;
  font-family: "Sigmar", serif;
  margin: 10%;
  padding-left: -2vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkgoldenrod;
}

.navbar-menu {
  position: fixed;
  width: 20vw;
  height: 100vh;
  background-color: #f99e1a;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  left: 0;
  top: 0;

  ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  li{
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
    font-family: "Big Shoulders", sans-serif;
    font-weight: bold;
  }

  .item{
    text-decoration: none;
    color: black;

    h3{
      font-size: 20px;
      margin-top: -0.5vh;
      margin-bottom: -1vh;
    }
  }

  .about{
    font-size: 15px;
    padding-top: 29vh;
  }

}

